.sign_up_body
  .single-container
    %header.single-header
      %h1
        = image_tag "mercari-logo.svg", size:"200x50"
    .single-main
      .l-single-container
        %h2.single-head 新規会員登録
        .l-single-inner.registration-form
          .l-single-content
            %link_to.btn-default.btn-mail
              = image_tag "mail.svg"
              メールアドレスで登録する
            %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
              = image_tag "facebook-logo.svg"
              Facebookで登録する
            %button#google-login.btn-default.btn-sns.btn-sns-google
              = image_tag "google.logo.jpg"
              Googleで登録する
  %footer.single-footer
    %nav
      %ul.clearfix
        %li
          = link_to "プライバシーポリシー"
        %li
          = link_to "メルカリ利用規約"
        %li
          = link_to "特定商取引に関する表記"
    = image_tag "mercari-logo-grey.svg",class:"single-footer-ligo",size:"80x65"
    %p
      %small © 2019 Mercari

