.sign_up_body
  .sign_up_content
    = render partial: 'signup/sign_up_header', locals: { signup: @signup }
    .sign_up_main
      .l-signup-content
        %h2.signup-head 新規会員登録
        .signup-inner
          .l-signup-content
            = link_to step1_signup_index_path, class: "btn-list btn-mail" do
              = image_tag "mail.svg"
              メールアドレスで登録する
            %button.btn-list.btn-signup-facebook
              = image_tag "facebook-logo.svg"
              =link_to user_facebook_omniauth_authorize_path, method: :post  do
                Facebookで登録する
            %button.btn-list.btn-signup-google
              = image_tag "google.logo.jpg"
              = link_to user_google_oauth2_omniauth_authorize_path, method: :post  do
                Googleで登録する

          = 'loginok' if user_signed_in?
    = render partial: 'signup/sign_up_footer', locals: { signup: @signup }
