%nav.bread-container
  - case params.values_at :controller, :action

  - when ['users','index']
    - breadcrumb :mypage
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

  - when ['users', 'henshuu']
    - breadcrumb :mypage_profile
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

  - when ['users', 'selling']
    - breadcrumb :mypage_listing
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

  - when ['users', 'progression']
    - breadcrumb :mypage_progression
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

  - when ['users', 'completion']
    - breadcrumb :mypage_completion
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

  - when ['items', 'detail']
    - breadcrumb :mypage_listing_item
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

