.side
  .side--list
    .side--list--item
      = sidebar_link('マイページ', user_path(current_user))

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        お知らせ

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        やることリスト

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        いいね！一覧

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        出品する

    .side--list--item
      = sidebar_link('出品した商品 - 出品中', selling_user_path(current_user))

    .side--list--item
      = sidebar_link('出品した商品 - 取引中', progression_user_path(current_user))

    .side--list--item
      = sidebar_link('出品した商品 - 売却済み', completion_user_path(current_user))

    .side--list--item
      = sidebar_link('購入した商品 - 取引中', purchase_user_path(current_user))

    .side--list--item
      = sidebar_link('購入した商品 - 過去の取引', purchased_user_path(current_user))

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        ニュース一覧

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        評価一覧

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        ガイド

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        お問い合わせ

    .side--list--head
      メルペイ

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        売上・振込申請

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        ポイント

    .side--list--head
      設定

    .side--list--item
      = sidebar_link('プロフィール', profile_user_path(current_user))

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        発送元・お届け先住所変更

    .side--list--item
      = link_to card_show_path, class: "side--list--item--link" do
        支払い方法

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        メール/パスワード

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        本人情報

    .side--list--item
      = link_to root_path, class: "side--list--item--link" do
        電話番号の確認

    .side--list--item
      = sidebar_link('ログアウト', logout_users_path) 
