= render partial: '/items/header', locals: { }
= render partial: '/users/bread-crumbs', locals: { }
.container-mypage
  = render partial: "side_bar"
  .container-mypage__content
    .container-mypage__usericon
      = link_to "" do
        %figure
          =image_tag "mypage/mypage-icon-kudo.png", size: '50x50', class: "avater", alt:"avater"
        .user つば九郎
        .user--number
          .user--number__evaluation
            評価 234
          .user--number__exhibits
            出品数 4567

    .container-mypage__news
      %ul.mypage-tabs
        %li.mypage-tabs__left
          .mypage-tabs__news
            お知らせ

        %li.mypage-tabs__right
          .mypage-tabs__notice
            やることリスト

      .tab-content__left
        %ul.mypage-item__list
          %li
            .mypage-item__link
              %figure
                =image_tag "mypage/mypage-icon-mercari.png", size: '50x50', class: "mypage-item__icon-mercari", alt:"mypage-item__icon-mercari"
              .mypage-item__body
                .mypage-item__text
                  明日、8%還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  = fa_icon 'clock-o'
                  %span 1日前
              %i.fa.fa-chevron-right
          %li
            .mypage-item__link
              %figure
                =image_tag "mypage/mypage-icon-mercari.png", size: '50x50', class: "mypage-item__icon-mercari", alt:"mypage-item__icon-mercari"
              .mypage-item__body
                .mypage-item__text
                  3日後、8%還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  = fa_icon 'clock-o'
                  %span 1日前
              %i.fa.fa-chevron-right
          %li
            .mypage-item__link
              %figure
                =image_tag "mypage/mypage-icon-mercari.png", size: '50x50', class: "mypage-item__icon-mercari", alt:"mypage-item__icon-mercari"
              .mypage-item__body
                .mypage-item__text
                  <<速報！！>>今なら販売手数料が実質無料！出品が超お得♪
                %time
                  = fa_icon 'clock-o'
                  %span 4日前
              %i.fa.fa-chevron-right
          %li
            .mypage-item__link
              %figure
                =image_tag "mypage/mypage-icon-mercari.png", size: '50x50', class: "mypage-item__icon-mercari", alt:"mypage-item__icon-mercari"
              .mypage-item__body
                .mypage-item__text
                  事務局から個別メッセージ。「Facebookログイン通知」
                %time
                  = fa_icon 'clock-o'
                  %span 6日前
              %i.fa.fa-chevron-right

          %li.mypage-item--all
            .mypage-item--all__text
              一覧を見る
      .tab-content__right.hide
        %li.mypage-tabs__right-text 現在、やることリストはありません

    .container-mypage-buy
      .mypage-buy--head
        購入した商品
      %ul.mypage-buy--tabs
        %li.mypage-buy--tabs__trading-now
          取引中
        %li.mypage-buy--tabs__trading-old
          過去の取引
      .mypage-buy--content
        %ul.mypage-buy--content__now--list
          %li.mypage-buy--content__now--text
            取引中の商品がありません
        %ul.mypage-buy--content__old--list.hide
          %li.mypage-buy--content__old--text
            過去に取引した商品がありません
= render partial: '/items/aside', locals: { }
= render partial: '/items/footer', locals: { }
= render partial: '/items/sell-icon', locals: { }








