= render partial: '/items/header', locals: { }

.l-container1
  = render partial: "side_bar"
  .l-content
    %section.l-chapter-container
      %section.settings-add-card
        .l-single-content
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'add_btn'

= render partial: '/items/aside', locals: { }
= render partial: '/items/footer', locals: { }
= render partial: '/items/sell-icon', locals: { }