= render partial: '/items/header', locals: { }
= render partial: '/users/bread-crumbs', locals: { }


- if flash[:notice]
  .flash-notice
    = flash[:notice]
    
.wrapper-profile
  .container__left
    = render partial: "side_bar"
  .container__right
    .container__right--title
      プロフィール
    = form_for (current_user) do |f|
      .container__right__form__image
        = f.label :icon_image do
          = f.file_field :icon_image, class: "avater hidden-form", alt:"avater"
          = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", class: "avater"
        = f.text_area :nick_name, class: "avater-name-form", placeholder: "つば九郎", type: "text"
      .container__right__form__content
        = f.text_area :profiile_comments,class: "container__right__form__content--text", placeholder: "例）こんにちは！！！！つば九郎だよ！！！！ たくさん購入してね！！！！"
        = f.submit "変更する", class: "container__right__form__content--btn"

= render partial: '/items/aside', locals: { }
= render partial: '/items/footer', locals: { }
= render partial: '/items/sell-icon', locals: { }


