= render partial: '/items/header', locals: { }
= render partial: '/users/bread-crumbs', locals: { }

.wrapper-profile
  .container__left
    = render partial: "side_bar"
  .container__right
    .container__right--title
      プロフィール
    .container__right__form
      .container__right__form__image
        =image_tag "mypage/mypage-icon-kudo.png", class: "avater", alt:"avater"
        %input.avater-name-form{placeholder: "つば九郎", type: "text", value: "もっけ"}/
      .container__right__form__content
        %textarea.container__right__form__content--text{placeholder: "例）こんにちは！！！！つば九郎だよ！！！！ たくさん購入してね！！！！"}
        %button.container__right__form__content--btn{type: "submit"} 変更する


= render partial: '/items/aside', locals: { }
= render partial: '/items/footer', locals: { }
= render partial: '/items/sell-icon', locals: { }


