= render partial: '/items/header', locals: { }

.wrapper-profile
  .container__left
    = render partial: "side_bar"
  .wrapper-contener
    .mypage-tab-container
      %h2.mypage-tab-head 出品した商品
      %ul.status-tabs
        %li.status-active
          %h3.status__name
            = link_to selling_users_path, class: "status-link" do
              出品中
        %li.status
          %h3.status__name
            = link_to progression_users_path, class: "status-link" do
              取引中
        %li.status
          %h3.status__name
            = link_to completion_users_path, class: "status-link" do
              売却済み
      .tab-content
        %ul#mypage-tab-transaction
          - if @items.present?
            - @items.each do |item|
              %li.selling-item
                = link_to "", class: "mypage-item-link" do
                  = image_tag "#{item.image}", class: "selling-item-image"
                  .mypage-item-body
                    .mypage-item-upper
                      = item.name
                    .mypage-item-lower
                      %span.selling-item-count
                        = fa_icon "heart", class: "selling-icon-heart"
                        %span 0
                      %span.selling-item-count
                        = fa_icon "comment", class: "selling-icon-comment"
                        %span 0
                      .mypage-item-status
                        出品中
                  = fa_icon "angle-right", class: "icon-arrow-right"
          - else
            .empty-status
              = image_tag "https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?35731317", class: "empty-status__logo"
              .empty-status__text
                出品中の商品がありません
    %ul.mypage-history
      %li.pager-prev.pager-cell
        = link_to "", class: "prev-button" do
          = fa_icon "angle-left", class: "icon-arrow-left"
      %li.pager-next.pager-cell
        = link_to "", class: "next-button" do
          = fa_icon "angle-right", class: "icon-arrow-right"


= render partial: '/items/aside', locals: { }
= render partial: '/items/footer', locals: { }
= render partial: '/items/sell-icon', locals: { }