.sign_in_body
  .single-container
    %header.single-header
      %h1
        =image_tag "mercari-logo.svg", size:"200x50"
    .single-main
      .login-panel
        .l-single-container
          .login-no-account
            %p アカウントをお持ちでない方はこちら
            = link_to "新規会員登録"
          .login-form-inner
            %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
              = image_tag "facebook-logo.svg"
              Facebookでログイン
            %button#google-login.btn-default.btn-sns.btn-sns-google
              = image_tag "google.logo.jpg"
              Googleでログイン
          %form{:action => "https://www.mercari.com/jp/login/", :method => "POST", :novalidate => "novalidate"}
            .login-form-inner
              .form-group.form-first
                %input.login-input-text.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
              .form-group
                %input.login-input-text.input-default{:name => "password", :placeholder => "パスワード", :type => "password"}/
              .form-group
                = image_tag "honninkakunin.png", size:"250x60"
              %button.login-submit.btn-default.btn-red{:type => "submit"} ログイン
              %input{:name => "__csrf_value", :type => "hidden", :value => "1d7492d30b9f08e76df20eeda24c1a26947dc3ce7d3a58ee021d953b2b53a7825f9806d3adb72ed384020eb3f15370541609215740d48598c5b9d74c564946bdd"}/
              = link_to "パスワードをお忘れの方"
    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            = link_to "プライバシーポリシー"
          %li
            = link_to "メルカリ利用規約"
          %li
            = link_to "特定商取引に関する表記"
      = image_tag "mercari-logo-grey.svg",class:"single-footer-ligo",size:"80x65"
      %p
        %small © 2019 Mercari
