-# = render partial: 'purchase/purchase', locals: { }
= render partial: 'items/header', locals: { }

.main-contents
  = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg", class: "back-image"
  .popularity-index
    %h2.index-genre
      人気のカテゴリー
    %div.genre
      %ul.genre__wrapper
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            レディース
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            メンズ
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            家電・スマホ・カメラ
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            おもちゃ・ホビー・グッズ

  .wrapper
    .items
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            レディース新着アイテム
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            レディース新着アイテム
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            レディース新着アイテム
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            レディース新着アイテム
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre

  .popularity-index
    %h2.index-genre
      人気のカテゴリー
    %div.genre
      %ul.genre__wrapper
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            レディース
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            メンズ
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            家電・スマホ・カメラ
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            おもちゃ・ホビー・グッズ

  .wrapper
    .items
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            レディース新着アイテム
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            レディース新着アイテム
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            レディース新着アイテム
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            レディース新着アイテム
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre
            .item
              = link_to "", class: "item-link" do
                = image_tag "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951", class:"item__image"
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
                  .items__genre


= render partial: 'items/sell-icon', locals: { }
= render partial: 'items/aside', locals: { }
= render partial: 'items/footer', locals: { }